<form class="user-form" id="forgot-password-form">
  <h2 class="user-form__title">Забули пароль</h2>
  <div class="user-form__close-button">X</div>
  <div class="user-form__input-container">
    <input
      type="email"
      name="email"
      class="forgot-password-form__email-input user-form__input"
      placeholder="Email"
    />
  </div>
  <div class="user-form__input-container">
    <div class="user-form__user-category">
      <input
        type="checkbox"
        name="role[]"
        class="forgot-password-form__user-seller user-form__input"
        value="Seller"
      />
      Продавець
      <input
        type="checkbox"
        name="role[]"
        class="forgot-password-form__user-buyer user-form__input"
        value="Buyer"
      />
      Покупець
    </div>
  </div>
  <button type="submit" class="user-form__submit">Нагадати</button>
  <div class="user-form__result" id="forgot-password-result"></div>
</form>
